body{
    margin: auto;
    background-color: black;
    width: 50%;
}

.background{
    background-color: rgb(158, 158, 20);
}

.title{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    text-align: center;
}

.button-aliament{
    position: relative;
    left: 175px;
    display: inline-block;
}

button{
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
}

.container01{
    padding: 20px;
    border: solid red 1px;
    color: red;
}